.container-fluid{ height: 89vh;}

/* POKEMON IMAGE BLOCK */
.pokemon-details, .basic{
    height: inherit;
    padding: 0;
}
.pokemon-image-block{
    padding: 0 0 40px 40px;
    height: inherit;
    position: relative;
}
.pokemon-image-block .color-box{
    width: 65%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 40px;
    background-image: linear-gradient(to right, #5DA491 0%, #46D1B2 100%);
    border-radius: 0 50px 0 50px;
}
.pokemon-image-block .color-box .heading{
    color: #fff;
    padding: 30px 20px;
}
.pokemon-image-block .color-box .heading h1{
    font-size: 45px;
    font-weight: 500;
}
.pokemon-image-block .color-box .heading .type p{
    display: inline;
    background: rgba(70, 209, 178, 0.5);
    padding: 5px 15px;
    margin-right: 5px;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
}
.pokemon-image-block .image-box{
    width: 65%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-65%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-image-block .image-box img{
    height: 100%;
    filter: drop-shadow(0 8px 8px #777);
}

/* POKEMON INFORMATION BLOCK */
.pokemon-info-block{ padding: 20px 40px;}
.info-nav{
    position: relative;
    display: flex;
    margin-bottom: 60px;
}
.info-nav p{
    position: relative;
    margin: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}
.info-nav #marker{
    position: absolute;
    left: 0;
    bottom: -9px;
    height: 4px;
    width: 80px;
    background: #46D1B2;
    transition: 0.5s;
    border-radius: 4px;
    z-index: 2;
}

/* info part */
.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.info-title{
    flex-basis: 30%;
    font-size: 18px;
    line-height: 26px;
    color: #777;
    font-weight: 300;
}
.info-value{
    flex-basis: 70%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.info-value .male{
    color: blue;
    font-size: 26px;
}
.info-value .female{
    color: palevioletred;
    font-size: 26px;
}

/* pokemon description (about)*/
.description{
    margin-bottom: 40px;
    background: #fff;
    font-size: 16px;
}
.description span{
    color: #46D1B2;
    font-size: 20px;
    margin-right: 10px;
}