.container-fluid{ height: 89vh;}

/* POKEMON IMAGE BLOCK */
.pokemon-details, .basic{
    height: inherit;
    padding: 0;
}
.pokemon-image-block{
    padding: 0 0 40px 40px;
    height: inherit;
    position: relative;
}
.pokemon-image-block .color-box{
    width: 65%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 40px;
    border-radius: 0 50px 0 50px;
}
.pokemon-image-block .color-box .heading{
    color: #fff;
    padding: 30px 20px;
}
.pokemon-image-block .color-box .heading h1{
    font-size: 45px;
    font-weight: 500;
}
.pokemon-image-block .color-box .heading .type p{
    display: inline;
    padding: 5px 15px;
    margin-right: 5px;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
}
.pokemon-image-block .image-box{
    width: 65%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-65%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-image-block .image-box img{
    height: 100%;
    filter: drop-shadow(0 8px 8px #777);
}

/* POKEMON INFORMATION BLOCK */
.pokemon-info-block{ padding: 20px 40px;}
.info-nav{
    position: relative;
    display: flex;
    margin-bottom: 60px;
}
.info-nav p{
    position: relative;
    margin: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}
.info-nav #marker{
    position: absolute;
    left: 0;
    bottom: -9px;
    height: 4px;
    width: 80px;
    transition: 0.5s;
    border-radius: 4px;
    z-index: 2;
}

/* info part */
.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.info-title{
    flex-basis: 30%;
    font-size: 18px;
    line-height: 26px;
    color: #777;
    font-weight: 300;
}
.info-value{
    flex-basis: 70%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.info-value .male{
    color: blue;
    font-size: 26px;
}
.info-value .female{
    color: palevioletred;
    font-size: 26px;
}

/* pokemon description (about)*/
.description{
    margin-bottom: 40px;
    background: #fff;
    font-size: 16px;
}
.description span{
    font-size: 20px;
    margin-right: 10px;
}

/* pokemon description (stats) */
#stats .info{ margin-bottom: 20px;}
#stats .info-value{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#stats .info-value .value{
    flex-basis: 15%;
}
.progressbar {
    flex-basis: 85%;
    height: 8px;
    border-radius: 3px;
}
  
.progress-step {
    height: 100%;
    border-radius: 3px;
    transition: 500ms;
}
/* encounter */
.encounter{
    margin-top: 50px;
}
.encounter h3{ font-size: 18px;}
.encounter-name{
    font-size: 30px;
    font-weight: 300;
    margin-left: 15px;
}
.encounter-des{
    font-size: 16px;
    font-weight: 300;
}
@media only screen and (max-width: 769px) {
    .basic{height: 80%; padding: 0;}
    .pokemon-details .more {padding: 0 20px 40px 20px}
    .pokemon-image-block{ padding: 0; height: 90%; position: static !important;}
    .pokemon-image-block .color-box{ width: 100%; height: 100%; position: static !important; border-radius: 0 50px 0 50px;}
    .pokemon-image-block .image-box{ 
        width: 45%; 
        position: absolute; 
        top: 60%; left: 70%; transform: translate(-50%, -50%);
        display: flex; justify-content: center; align-items: center;
    }
    .pokemon-image-block .image-box img{width: 120%;}
  }

@media only screen and (max-width: 480px) {
    .basic{height: 65%; padding: 0;}
    .pokemon-image-block .image-box{ 
        width: 45%; 
        position: absolute; 
        top: 70%; left: 50%; transform: translate(-50%, -50%);
        display: flex; justify-content: center; align-items: center;
    }
    .pokemon-image-block .color-box .heading{padding: 10px;}
    .pokemon-image-block .color-box .heading h1{font-size: 40px; font-weight: 600;}
    .pokemon-info-block{ padding: 10px;}
    .pokemon-info-block .description{font-size: 16px;}
    .info-nav{ margin-bottom: 30px; }
    .info-nav a{ font-size: 16px;}
    .info .info-title, .info-value{font-size: 15px;}
    #stats{margin-top: 40px;}
    #stats .info{margin-bottom: 10px;}
    #stats .info-value .progressbar{height: 5px; flex-basis: 80%;}
    .encounter{text-align: center;}
    .encounter-name{ font-size: 25px; margin-left: 10px; }
}

@media only screen and (max-width: 350px){
    .info-nav a{ font-size: 15px; margin-right: 10px;}
    .description{font-size: 13px;}
    .info-title, .info-value{font-size: 14px;}
}